[submodule "Bagel/vendor/imgui"]
	path = Bagel/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Bagel/vendor/stb"]
	path = Bagel/vendor/stb
	url = https://github.com/nothings/stb.git
